
/*main content*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    white-space: nowrap;
    height: auto;
    
}
.logsContainer{
    width: 100%;
    height: auto;
    background-color: var(--main-active-background-color);
    margin: 0 auto;
}
.logsContainer .loginlogoutContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:flex-end;
    align-items:flex-start;
    flex-direction:column;
    gap: 2em;
}

.logsContainer .logsHeader{
    height: auto;
    padding: 1em;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 800;
    
}
.logsContainer .logsHeader #clearAll{
    border: none;
    font-size: 1rem;
    padding: 1em;
    border-radius: .2em;
    box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    -webkit-box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    -moz-box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    transition: 0.1s;
    background-color: rgba(255, 86, 86, 0.705);
    color: var(--text-color);
}
.logsContainer .logsHeader #clearAll:hover{
    opacity: 0.6;
}
.logsContainer .logsHeader #clearAll:active{
    opacity: 0.3;
}
.cleared-message{
    display: flex;
    align-items: center;
    position: absolute;
    top:6%;
    left: 43%;
    margin-left: 5px;
    z-index: 2;
    height: 3em;
    width: 15em;
    background-color: rgb(231, 121, 121);
    text-align: center;
    justify-content: center;
    border-radius: 1em;
    box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    color: black;
    transition: 0.2s ease-out;
    opacity: 0;
    pointer-events: none;
}
.cleared-message.active{
    opacity: 1;
}

.tableloginText,
.tablelogoutText{
    font-size: 1.3em;
    font-weight: 400;
    
}

/*LOGIN*/
.logsContainer .loginlogoutContainer .innerLogsContainer{
    padding: 1em;
    width: 100%;
    height: 25em;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.7em;
    box-sizing:border-box;
    overflow:auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0em;
    box-shadow: 0px 2px 50px -20px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 50px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 50px -20px rgba(0,0,0,0.75);
}
.logsContainer #logsTable {
    border-collapse:separate;
    width: 100%;
}
.logsContainer #logsTable th, 
.logsContainer #logsTable td {
    border-bottom: .5em solid rgba(114, 101, 190, 0.384);;
    padding: 1em;
    text-align: left;
    font-size: .9rem;
    width: auto;
    word-wrap: break-word;
}

/*LOGOUT*/
.logsContainer .loginlogoutContainer .innerLogOutContainer{
    padding: 1em;
    width: 100%;
    height: 25em;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.7em;
    box-sizing:border-box;
    overflow:auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0em;
    box-shadow: 0px 2px 50px -20px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 50px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 50px -20px rgba(0,0,0,0.75);
    
}

.logsContainer #logsTable{
    border-collapse: separate;
    width: 100%;
}

.logsContainer #logoutTable th, 
.logsContainer #logoutTable td{
    border-bottom: .5em solid rgba(165, 16, 16, 0.308);
    padding: 1em;
    text-align:justify;
    font-size: .9rem;
    width:auto;
    word-wrap:break-word;
}
