*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    white-space: nowrap;
    
}
.innerArchiveContainer{
    padding: 1em;
    background-color: var(--secondary-color);
    box-shadow: 0px 2px 50px -20px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 50px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 50px -20px rgba(0,0,0,0.75);
}
.archivesContainer{
    width: 100%;
    height: 100%;
    background-color: var(--main-active-background-color);
    margin: 0 auto;
}
.archivesContainer .archivesHeader{
    width: 100%;
    height: auto;
    padding: 1em;
    font-size: 1.5rem;
}
.archivesContainer table {
    border-collapse: collapse;
    width: 100%;
  
}
  
.archivesContainer table thead th{
    background-color: var(--tertiary-color)
}
.archivesContainer table th, 
.archivesContainer table td {
    padding: 1em;
    text-align: left;
    font-size: .8rem;
    color: var(--text-color);
}
.archivesContainer table tr{
    border-bottom: var(--tablebottom-color);
}

.archivesContainer table .passwordCellContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
    width: auto;
}

.archivesContainer table td .passInputFieldArchive{
    width: 9em;
    border: none;
    background-color: var(--secondary-color);
}


.archivesContainer .showHideContainer{
    display: flex;
    justify-content: center;
}

.archivesContainer table .passwordCellContainer #hidePassForArchive,
.archivesContainer table .passwordCellContainer #showPassForArchive{
    border: none;
    background: none;
    cursor: pointer;
}

.archivesContainer table .passwordCellContainer #showPassForArchive{
    position: absolute;
    opacity: 0;
}
.archivesContainer table .passwordCellContainer .material-symbols-outlined.visibilityForArchive{
    color: rgb(26, 223, 26);
}

.archivesContainer table .passwordCellContainer .material-symbols-outlined.visibilityOffForArchive{
    color: rgb(253, 23, 23);
}



.archivesContainer table .DeleteRecoverButton{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}
.archivesContainer table .DeleteRecoverButton #deleteButtonForArchive,
.archivesContainer table .DeleteRecoverButton #recoverButtonForArchive{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5em;
}
.archivesContainer table .DeleteRecoverButton #deleteButtonForArchive{
    border: none;
    font-size: .8rem;
    width: 8em;
    height: 3em;
    border-radius: .4em;
    background-color: rgb(231, 43, 43);
    box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    -webkit-box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    -moz-box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
}
.archivesContainer table .DeleteRecoverButton #recoverButtonForArchive{
    background-color: rgb(39, 153, 39);
    border: none;
    font-size: .8rem;
    width: 8em;
    height: 3em;
    border-radius: .4em;
    box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    -webkit-box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    -moz-box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
}
.archivesContainer table .DeleteRecoverButton #deleteButtonForArchive:hover,
.archivesContainer table .DeleteRecoverButton #recoverButtonForArchive:hover{
    opacity: 0.7;
}
.archivesContainer table .DeleteRecoverButton #deleteButtonForArchive:active,
.archivesContainer table .DeleteRecoverButton #recoverButtonForArchive:active{
    opacity: 0.4;

}

.recovered-message{
    display: flex;
    align-items: center;
    position: absolute;
    top:8%;
    left: 43%;
    margin-left: 5px;
    z-index: 2;
    height: 3em;
    width: 15em;
    background-color: rgb(33, 214, 72);
    text-align: center;
    justify-content: center;
    border-radius: 1em;
    box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    color: black;
    transition: 0.2s ease-out;
    opacity: 0;
    pointer-events: none;
}
.recovered-message.active{
    opacity: 1;
}
.deletedArchive-message{
    display: flex;
    align-items: center;
    position: absolute;
    top:8%;
    left: 43%;
    margin-left: 5px;
    z-index: 2;
    height: 3em;
    width: 15em;
    background-color: rgb(231, 121, 121);
    text-align: center;
    justify-content: center;
    border-radius: 1em;
    box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    color: black;
    transition: 0.2s ease-out;
    opacity: 0;
    pointer-events: none;
}
.deletedArchive-message.active{
    opacity: 1;
}



  
