* {
	box-sizing: border-box;
}
h4{
    margin: 10px 0 20px;
	text-align: center;
    font-size: 1.5rem;
	color: var(--text-color);
}
input[type=checkbox] {
	margin-right: 0;
}
.container {
	background-color: var(--main-background-calendar);
	padding: 20px;
	width: 40%;
	max-width: 100%;
    border-radius: .5em;
    -webkit-box-shadow: 0px 9px 17px -2px rgba(0,0,0,0.92);
    -moz-box-shadow: 0px 9px 17px -2px rgba(0,0,0,0.92);
    box-shadow: 0px 9px 17px -2px rgba(0,0,0,0.92);
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.result-container {
    border: 1px solid var(--sidebar-active-bordercolor);
	border-radius: .3em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 5px 15px;
	height: 50px;
	width: 100%;
}
.result-container #result{
  	word-wrap: break-word;
	width: 100%;
	height: 100%;
	font-size: 1.5rem;
	border-radius: .1em;
	border: none;
	color: var(--text-color);
	background-color: var(--main-background-calendar)
}

.result-container .btn {
    text-align: center;
    border:none;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;

}
.btn {
	cursor: pointer;
	font-size: 1.8rem;
	padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: var(--main-background-calendar);
}
.result-container i{
	color: var(--text-color);
}
.result-container #hideEye{
	color: #27D327;
}
#copiedPassGen-message{
    display: flex;
    align-items: center;
    position: absolute;
    top:12%;
    left: 43%;
    margin-left: 5px;
    z-index: 2;
    height: 3em;
    width: 15em;
    background-color: rgb(235, 235, 247);
    text-align: center;
    justify-content: center;
    border-radius: 1em;
    box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    color: black;
    transition: 0.2s ease-out;
    opacity: 0;
    pointer-events: none;
}
#copiedPassGen-message.active{
    opacity: 1;
}
.btn-large {
    color: rgb(255, 255, 255);
	
	margin-right: 10rem;
	width: 100%;
    background-color: #0a0d63;
    border-radius: .5em;
	transition: 0.3s;
	padding-top: .3em;
	padding-bottom: .3em;
	font-size: 1.5rem;
}
.btn-large:hover{
	opacity: 0.8;
	border: 2px dashed whitesmoke;
}
.btn-large:active{
	opacity: 0.4;
}

.setting {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}
.setting label{

    color: var(--text-color);
}


@media screen and (max-width: 400px) {
	.result-container {
		font-size: 14px;
	}
}

