.passwordmanager-wrapper{ 
    width: 100%;
    position: relative;
}

/***HEADER***/
.header{
    height: auto;
    background-color: var(--sidebar-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.header span{
    font-size: 1.5rem;
    color: var(--text-color);
}
.header .addPass{
    border: none;
    font-size: .9rem;
    padding: 1em;
    border-radius: .2em;
    background-color: rgb(26, 168, 26);
    box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    -webkit-box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    -moz-box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    transition: 0.1s;
}
.header .addPass:hover{
    opacity: 0.6;
}
.header .addPass:active{
    opacity: 0.3;
}
/***HEADER***/


/***error messae***/
.error-message{
    display: flex;
    align-items: center;
    position: absolute;
    top:10%;
    left: 42%;
    margin-left: 5px;
    z-index: 2;
    height: 3em;
    width: 15em;
    background-color: rgb(231, 121, 121);
    text-align: center;
    justify-content: center;
    border-radius: 1em;
    box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    color: black;
    transition: 0.1s ease-in-out;
    opacity: 0;
    pointer-events: none;
}
.error-message.active{
    opacity: 1;
}
/***saved message***/
.saved-message{
    display: flex;
    align-items: center;
    position: absolute;
    top:8%;
    left: 43%;
    margin-left: 5px;
    z-index: 2;
    height: 3em;
    width: 15em;
    background-color: rgb(33, 214, 72);
    text-align: center;
    justify-content: center;
    border-radius: 1em;
    box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    color: black;
    transition: 0.2s ease-out;
    opacity: 0;
    pointer-events: none;
}
.saved-message.active{
    opacity: 1;
}
/***deleted message***/
.deleted-message{
    display: flex;
    align-items: center;
    position: absolute;
    top:8%;
    left: 43%;
    margin-left: 5px;
    z-index: 2;
    height: 3em;
    width: 15em;
    background-color: rgb(231, 121, 121);
    text-align: center;
    justify-content: center;
    border-radius: 1em;
    box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    color: var(--text-color);
    transition: 0.2s ease-out;
    opacity: 0;
    pointer-events: none;
}
.deleted-message.active{
    opacity: 1;
}
/***copied user message***/
.copiedUser-message{
    display: flex;
    align-items: center;
    position: absolute;
    top:8%;
    left: 43%;
    margin-left: 5px;
    z-index: 2;
    height: 3em;
    width: 15em;
    background-color: rgb(235, 235, 247);
    text-align: center;
    justify-content: center;
    border-radius: 1em;
    box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    color: black;
    transition: 0.2s ease-out;
    opacity: 0;
    pointer-events: none;
}
.copiedUser-message.active{
    opacity: 1;
}
/***copied password message***/
.copiedPass-message{
    display: flex;
    align-items: center;
    position: absolute;
    top:8%;
    left: 43%;
    margin-left: 5px;
    z-index: 2;
    height: 3em;
    width: 15em;
    background-color: rgb(235, 235, 247);
    text-align: center;
    justify-content: center;
    border-radius: 1em;
    box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    color: black;
    transition: 0.2s ease-out;
    opacity: 0;
    pointer-events: none;
}
.copiedPass-message.active{
    opacity: 1;
}
/***UPDATED message***/
.updated-message{
    display: flex;
    align-items: center;
    position: absolute;
    top:8%;
    left: 43%;
    margin-left: 5px;
    z-index: 2;
    height: 3em;
    width: 15em;
    background-color: rgb(33, 214, 72);
    text-align: center;
    justify-content: center;
    border-radius: 1em;
    box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.75);
    color: black;
    transition: 0.2s ease-out;
    opacity: 0;
    pointer-events: none;
}
.updated-message.active{
    opacity: 1;
}




/******ADD PASSWORD POP-UP*******/
.popup-box-add{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 98vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.575);
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
}
.popup-box-add.show{
    opacity: 1;
    pointer-events: auto; 
    height: 100vh;
}
.popup-box-add .innercontainer{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    width: 100%;
    max-width: 400px;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.95);
    
}
.popup-box-add .innercontainer .form-box{
    border-radius: 5px;
    background-color: var(--sidebar-background-color);
    width: 100%;
    height: auto;
    box-shadow: 0 0 15px rgb(0, 0, 0);
}
.form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 3px solid rgba(0, 0, 0, 0.096);
}
.formheadtext{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 1.7rem;
    height: auto;
    color: var(--text-color);
}
.form-header i{
    cursor: pointer;
    color: var(--text-color);
}
#formSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    height: 100%;
}

.form-group{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: .4em;
}
.form-group label{
    font-weight: bold;
    color: var(--text-color);
} 
.form-box #popupSubmitButton{
    margin-top: 1em;
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    background-color: rgb(26, 168, 26);
    box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.53);
    -webkit-box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.53);
}
.form-box #popupSubmitButton:hover{

        opacity: 0.6;
}
.form-box #popupSubmitButton:active{
        opacity: 0.3;
}

.form-group .form-control{
    height: 2.5rem;
    border-color: var(--text-color);
    outline: 0;
    color: var(--text-color);
}






    /***TABLE***/
    .maintable{  
        padding: .3em;
        border-radius: 1em;
        box-shadow: 0px 2px 50px -20px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 2px 50px -20px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 50px -20px rgba(0,0,0,0.75);
        
        width: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .maintable .accounts-table{
        background-color: var(--secondary-color);
        width: 100%;
        height: 90%;
        border-collapse: collapse;
    }
    .maintable .accounts-table thead tr{
        background-color: var(--tertiary-color);
        text-align: left;
        font-size: .9rem;

    }
    .maintable .accounts-table th,
    .maintable .accounts-table td{
        padding: .9em .9em;
        color: var(--text-color);
    }
    .maintable .accounts-table tbody tr{
        border-bottom: var(--tablebottom-color);
        font-size: 0.8rem;
    }
    .maintable .accounts-table tbody tr td .cell-content{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        gap: .7em;
    }


    /**table content**/
    
    @media (min-zoom: 60%) {
        /* styles for zoom level 60% and above */
        .maintable {
          width: 90%;
        }
      }
      @media (min-zoom: 80%) {
        /* styles for zoom level 80% and above */
        .maintable {
          width: 80%;
        }
      }
      

    @media only screen and (max-width: 600px) {
        .maintable .accounts-table {
          width: 100%;
        }
      }

      @media only screen and (max-width: 600px) {
        .maintable .accounts-table th:nth-child(2), 
        .maintable .accounts-table td:nth-child(2) {
          display: none;
        }
      }
      


/**INPUT BOXES**/
 .datainput{
    padding: .5em;
    background-color: var(--secondary-color);
    border-radius: .5em;
    color: var(--text-color);
    cursor: text;
    font-size: .9rem;
    width: 11em;
}
.datainput.userinput,
.datainput.passinput,
.datainput.description {
    width: auto;
}
.datainput.description{
    border: none;
    width: 8em;
}
.datainputWebsite{
    padding: .5em;
    background-color: var(--secondary-color);
    width: 8em;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: rgb(78, 78, 248);
    font-size: 1rem;
}



/**BUTTONS CSS**//**BUTTONS CSS**//**BUTTONS CSS**//**BUTTONS CSS**//**BUTTONS CSS**/

/**SHOW/HIDE BUTTON**/
.cell-content .action-options #showPass{
    position: relative;
    opacity: 0;
}
.cell-content .action-options #hidePass{
    position: absolute;
}
.cell-content #copyuserB, #copypassB,
#showPass, #hidePass {
    background: none;
    border: none;
}
.accounts-table tbody tr td .material-symbols-outlined.copy{
    color: var(--text-color);
    font-size : 1.7em;
    transition: 0.3s;
}
.accounts-table tbody tr td .material-symbols-outlined.copy:hover{
    font-size: 1.9em;
}
.accounts-table tbody tr td .material-symbols-outlined.visibility{
    color: rgb(39, 211, 39);
    font-size : 1.7em;
    transition: 0.3s;
}
.accounts-table tbody tr td .material-symbols-outlined.visibilityOff{
    color: rgb(233, 51, 51);
    font-size : 1.7em;
}

/**ACTIONS COLUMN**/
.DeleteEditButton{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}
#deleteButton{
    border: none;
    font-size: .7rem;
    width: 8em;
    height: 3em;
    border-radius: .4em;
    background-color: rgb(231, 43, 43);
    box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    -webkit-box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    -moz-box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
}
#deleteButton:hover, #editButton:hover, #updateButton:hover{
    opacity: 0.7;
}
#deleteButton:active, #editButton:active, #updateButton:active{
    opacity: 0.4;
}
#editButton{
    border: none;
    font-size: .7rem;
    width: 8em;
    height: 3em;
    border-radius: .4em;
    background-color: rgb(43, 46, 231);
    box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    -webkit-box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    -moz-box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
}
#updateButton{
    border: none;
    font-size: .7rem;
    width: 8em;
    height: 3em;
    border-radius: .4em;
    background-color: rgb(43, 231, 52);
    box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    -webkit-box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    -moz-box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.31);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
}

#deleteButton span,
#editButton span,
#updateButton span{
    color: rgb(255, 255, 255);
}

#updateButton{
    display: none;
}

.meter-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap : .5em;
}
.meter-container .strength-percentage{
    color: var(--text-color);
}
.meter-container .strengthmeter{
    width: 100%;
    height: .3em;
    transition: 2s;
}
.meter-container.very-weak .strengthmeter{
    width: 10%;
    background: #f00;
    filter: drop-shadow(0 0 1px #f00) drop-shadow(0 0 1px #f00) drop-shadow(0 0 10px #f00);
}
.meter-container.weak .strengthmeter{
    width: 25%;
    background: rgb(255, 94, 0);
    filter: drop-shadow(0 0 1px rgb(255, 94, 0)) drop-shadow(0 0 1px rgb(255, 94, 0)) drop-shadow(0 0 10px rgb(255, 94, 0));
}
.meter-container.medium .strengthmeter{
    width: 38%;
    background: #ffa500;
    filter: drop-shadow(0 0 01px #ffa500) drop-shadow(0 0 1px #ffa500) drop-shadow(0 0 10px #ffa500);
}
.meter-container.strong .strengthmeter{
    width: 65%;
    background: rgb(143, 194, 23);
    filter: drop-shadow(0 0 1px rgb(143, 194, 23)) drop-shadow(0 0 1px rgb(143, 194, 23)) drop-shadow(0 0 10px rgb(143, 194, 23));
}
.meter-container.very-strong .strengthmeter{
    width: 100%;
    background: #00ff00;
    filter: drop-shadow(0 0 1px #00ff00) drop-shadow(0 0 1px #00ff00) drop-shadow(0 0 10px #00ff00);
}
.strengthCell{
    width: 7em;
}
.material-symbols-outlined.timer{
    cursor: pointer;
    color: var(--text-color);
}

#changePassCountDown{
    position: absolute;
    box-sizing: border-box;
    overflow: auto;
    word-wrap: break-all; 
    height: auto;
    width: auto;
    border-radius: .4em;
    background-color: rgba(0, 0, 0, 0.822);
    box-shadow: 0px 0px 27px 2px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 27px 2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 27px 2px rgba(0,0,0,1);
    color: white;
    font-size: .8rem;
    padding: 1em;
    pointer-events: none;
    cursor: crosshair;
    margin-left:-14em;
    margin-top: -4em;
    opacity: 0;
}

@media (max-width: 1733px){
    .maintable .accounts-table th{
        font-size: .8rem;
        padding: .7rem .2rem .7rem .2rem;
        width: auto;
    }
    .maintable .accounts-table td{
        padding: .7rem .2rem .7rem .2rem;
        width: auto;
    }
    .datainput.description,
    .datainput.userinput,
    .datainput.passinput,
    .datainputWebsite{
        width: 10em;
        font-size: 1em;
        border: none;
        height: 2.3em;
        text-overflow: ellipsis;  
        white-space:nowrap;
        word-wrap: break-word;
        word-break: break-word;
    }
    .strengthCell{
        width: 8em;
    }
    #deleteButton,
    #updateButton,
    #editButton{
        width: 8em;
        height: 3em;
        font-size: .8em;
    }
    .strengthmeter{
        width: 5;
    }

    .strength-percentage{
        font-size: 1em;
    }

    .material-symbols-outlined{
        font-size: 2em;
    }
    .cell-content .action-options #showPass{
        position: relative;
        opacity: 0;
    }
    .cell-content .action-options #hidePass{
        position: absolute;
    }
    .cell-content #copyuserB, #copypassB,
    #showPass, #hidePass {
        background: none;
        border: none;
    }
    .accounts-table tbody tr td .material-symbols-outlined.copy{
        color: var(--text-color);
        font-size : 1.6em;
        transition: 0.3s;
    }
    .accounts-table tbody tr td .material-symbols-outlined.copy:hover{
        font-size: 1.6em;
    }
    .accounts-table tbody tr td .material-symbols-outlined.visibility{
        color: rgb(39, 211, 39);
        font-size : 1.6em;
        transition: 0.3s;
    }
    .accounts-table tbody tr td .material-symbols-outlined.visibilityOff{
        color: rgb(233, 51, 51);
        font-size : 1.6em;
    }
}


@media (max-width: 1536px) {

    .maintable .accounts-table th{
        font-size: .8rem;
        padding: .7rem .2rem .7rem .2rem;
        width: auto;
    }
    .maintable .accounts-table td{
        padding: .7rem .2rem .7rem .2rem;
        width: auto;
    }
    .datainput.description,
    .datainput.userinput,
    .datainput.passinput,
    .datainputWebsite{
        width: 10em;
        font-size: 1em;
        border: none;
        height: 2.3em;
        text-overflow: ellipsis;  
        white-space:nowrap;
        word-wrap: break-word;
        word-break: break-word;
    }
    .strengthCell{
        width: 8em;
    }
    #deleteButton,
    #updateButton,
    #editButton{
        width: 8em;
        height: 3em;
        font-size: .8em;
    }
    .strengthmeter{
        width: 5;
    }

    .strength-percentage{
        font-size: 1em;
    }

    .material-symbols-outlined{
        font-size: 2em;
    }
    .cell-content .action-options #showPass{
        position: relative;
        opacity: 0;
    }
    .cell-content .action-options #hidePass{
        position: absolute;
    }
    .cell-content #copyuserB, #copypassB,
    #showPass, #hidePass {
        background: none;
        border: none;
    }
    .accounts-table tbody tr td .material-symbols-outlined.copy{
        color: var(--text-color);
        font-size : 1.6em;
        transition: 0.3s;
    }
    .accounts-table tbody tr td .material-symbols-outlined.copy:hover{
        font-size: 1.6em;
    }
    .accounts-table tbody tr td .material-symbols-outlined.visibility{
        color: rgb(39, 211, 39);
        font-size : 1.6em;
        transition: 0.3s;
    }
    .accounts-table tbody tr td .material-symbols-outlined.visibilityOff{
        color: rgb(233, 51, 51);
        font-size : 1.6em;
    }
}

@media (max-width: 1280px) {
    .maintable .accounts-table th{
        font-size: .6rem;
        padding: .7rem .2rem .7rem .2rem;
        width: auto;
    }
    .maintable .accounts-table td{
        padding: .7rem .2rem .7rem .2rem;
        width: auto;
    }
    .datainput.description,
    .datainput.userinput,
    .datainput.passinput,
    .datainputWebsite{
        width: 9em;
        font-size: .8em;
        height: 2.3em;
        overflow:scroll;  
    }
    .strengthCell{
        width: 8em;
    }
  
    #deleteButton,
    #updateButton,
    #editButton{
        width: 8em;
        height: 3em;
        font-size: .6em;
    }
    .strengthmeter{
        width: 2em;
    }

    .strength-percentage{
        font-size: .7em;
    }

    .material-symbols-outlined{
        font-size: 2em;
    }
    .cell-content .action-options #showPass{
        position: relative;
        opacity: 0;
    }
    .cell-content .action-options #hidePass{
        position: absolute;
    }
    .cell-content #copyuserB, #copypassB,
    #showPass, #hidePass {
        background: none;
        border: none;
    }
    .accounts-table tbody tr td .material-symbols-outlined.copy{
        color: var(--text-color);
        font-size : 1em;
        transition: 0.3s;
    }
    .accounts-table tbody tr td .material-symbols-outlined.copy:hover{
        font-size: 1.2em;
    }
    .accounts-table tbody tr td .material-symbols-outlined.visibility{
        color: rgb(39, 211, 39);
        font-size : 1em;
        transition: 0.3s;
    }
    .accounts-table tbody tr td .material-symbols-outlined.visibilityOff{
        color: rgb(233, 51, 51);
        font-size : 1em;
    }
}

@media (max-width: 1097px) {
    .datainput.description,
    .datainput.userinput,
    .datainput.passinput,
    .datainputWebsite{
        width: 8em;
        font-size: .8em;
        height: 2.3em;
        overflow:scroll;  
    }
    .strengthCell{
        width: 5em;
    }
  
    #deleteButton,
    #updateButton,
    #editButton{
        width: 8em;
        height: 3em;
        font-size: .6em;
    }
    .strengthmeter{
        width: 5;
    }

    .strength-percentage{
        font-size: .7em;
    }

    .material-symbols-outlined{
        font-size: 2em;
    }
    .cell-content .action-options #showPass{
        position: relative;
        opacity: 0;
    }
    .cell-content .action-options #hidePass{
        position: absolute;
    }
    .cell-content #copyuserB, #copypassB,
    #showPass, #hidePass {
        background: none;
        border: none;
    }
    .accounts-table tbody tr td .material-symbols-outlined.copy{
        color: var(--text-color);
        font-size : 1em;
        transition: 0.3s;
    }
    .accounts-table tbody tr td .material-symbols-outlined.copy:hover{
        font-size: 1.2em;
    }
    .accounts-table tbody tr td .material-symbols-outlined.visibility{
        color: rgb(39, 211, 39);
        font-size : 1em;
        transition: 0.3s;
    }
    .accounts-table tbody tr td .material-symbols-outlined.visibilityOff{
        color: rgb(233, 51, 51);
        font-size : 1em;
    }
}





