@keyframes contentLeft{
  from {
      opacity: 0;
      transform: translateX(-50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.contactpagecontainer{
    width:100%;
    height: 100%;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    animation: contentLeft 0.6s ease-in-out;
}
.contactcontainer{
    width:1450px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    gap: 70px;
    padding-top: 50px;
}
.contactheader{
    width: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 1rem;
    text-align: justify;
}
.contact{
    font-size: 60px;
}
.contactDescription{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(65, 65, 65);
}

form {
    width: 55rem;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
  }
  
  input[type="name"], input[type="email"], input[type="number"], textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  input[type="name"], input[type="email"], input[type="number"]{
    width: 100%;
  }
  textarea{
    height: 200px;
  }

  .emailAndPass{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: .4em;
  }
  .nameContainer, .emailContainer{
    width: 100%;
  }

  .submitButton{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.3rem;
    cursor: pointer;
    width: 20%;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  






/* .contactform{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap:20px;
    width: auto;
    margin-right: -10px;
}
.contactwrapper{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.contactcont {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
input.name .email .number{
    width: 200px;
    height: 20px;
}
textarea{
    height: 225px;
    width: 520px;
}

.btn{
    padding-top: 10px;
    padding-bottom: 25px;
    text-align: center;
    align-items: center;
    border: none;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.29);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.29);
} */


/* .fixcontainer{
    width: 85%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 0px;
}
.infocontainer{
    width:auto;
    height: 600px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-top: 5px;
}
.text{
    text-align: justify;
} */