@keyframes contentLeft{
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hcontainer{
    width: 100%;
    margin-top: 230px;
    display: flex;    
    align-items: center;
    flex-direction: column;
    gap: 50px;
  animation: contentLeft 0.6s ease-in-out;
}

.guidelabelcontainer{
    width: 1348px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   
}
.helptext{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    padding-left: 90px;
    padding-right: 90px;
}
.help{
    font-size: 50px;
}

.helpcontentcontainer{
    width: 1450px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20em;

}

.guidecontainer{
    width: 400px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 51px -9px rgba(0,0,0,0.32);
    -webkit-box-shadow: 0px 0px 51px -9px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 51px -9px rgba(0,0,0,0.32);
    display: flex;
    transition: 0.5s;
    border-radius: 20px;
    
}

.guidecontainer:hover{
    width: 400px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 7px 19px 3px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 7px 19px 3px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 7px 19px 3px rgba(0,0,0,0.26);
    display: flex;
}

.guidecontainer:active{
    width: 400px;
    height: 150px;
    background-color: #0002424b;
    box-shadow: 0px 7px 19px 3px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 7px 19px 3px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 7px 19px 3px rgba(0,0,0,0.26);
    display: flex;
    transition:0.1s;
}

.iconguide{
    display: flex;
    padding-left: 30px;
    height: auto;
    justify-content: center;
    align-items: center;
}
.contacticon{
    width: 70px;
}
.guidetextcontainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;
}
.guideheader{
    color:black;
}
.guidetext{
    color: black;
    font-size: 14px;
    text-align: center;
}
