@keyframes contentLeft{
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.contentheader{
    width:100%;
    height: auto;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: contentLeft 0.6s ease-in-out;
}
.headercontainer{
    width:1450px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    gap: 10px;
}
.headertop{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
.title{
    font-size: 60px;
   
}
.text{
    font-size: 18px;
    text-align: justify;
  
    width: 900px;
    font-family: roboto;
    letter-spacing: 0px;
    color: rgb(73, 73, 73);
}
.contentimage{
    height: 100%;
    width: 60%;
    padding-top: 40px;
    border-radius: 2em;
}

.contentimage2{
    height: 100%;
    width: 50%;
    padding-top: 40px;
    border-radius: 2em;
}

.contentheader2{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}
.description{
    width:1450px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}
.descriptioncontainer{
    height:auto;
    width: 1450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.subheader{
    font-size: 25px;
    text-decoration: underline;
    padding-top: 20px;
}
.descriptiontext{
    font-size: 20px;
    text-align: center;
    width: 900px;
    font-family: roboto;
    letter-spacing: 0px;
    color: rgb(73, 73, 73);
}